header{
    transform: none;
}

section{
    padding: 80px 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section > div{
    flex-shrink: 0;
    padding: 50px 25px;
}

.form{
    background-color: var(--secondary);
    width: min(90%, 450px);
    margin: 35px 0;
    border-radius: 12px;
}

.form h2{
    text-align: center;
    font-size: 35px;
    font-family: "Lobster", cursive;
    color: var(--semi-trans);
    font-weight: 500;
}

.form h3{
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    color: var(--semi-trans);
}

.details{
    flex-shrink: 1;
}

.details h2{
    font-size: 35px;
    color: var(--ascent);
    font-family: 'Lobster', cursive;
    text-align: center;
    margin-bottom: 30px;
}

.tabs-container{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.contact-tab{
    gap: 6px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    background: var(--primary);
    padding: 30px 25px;
    border-radius: 10px;
    min-width: 250px;
    height: 200px;
}

.wa{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

.wa a{
    text-decoration: underline;
    color: var(--ascent);
}

form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 25px 0 0;
}

input{
    border-radius: 8px;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: white;
    display: block;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    opacity: 0;
}

input[type="number"]::-webkit-inner-spin-button{
    visibility: hidden;
}

input:not(:last-child){
    border-bottom: 2px solid transparent;
    padding: 16px 15px;
    color: black;
    transition: border 0.3s;
    font-weight: 500;
}

input:not(:last-child):focus{
    border-bottom: 2px solid rgb(75 134 115 / 100%);
}

input::placeholder{
    color: rgb(50 50 50 / 50%);
    font-weight: 500;
}

input[type="submit"]{
    font-size: 20px;
    padding: 15px 30px;
    color: var(--secondary);
    background-color: var(--semi-trans);
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover{
    background-color: rgb(0 0 0/60%);
}

input[type="submit"]:focus{
    background-color: rgb(0 0 0/65%);
}

#form-status{
    text-align: center;
    padding: 25px 0 0;
    font-weight: 500;
    color: crimson;
    font-size: 19px;
}

#form-status.success{
    color: var(--ascent);
}

@media(max-width: 1040px){
    .tabs-container{
        flex-wrap: wrap;
    }
}

@media(max-width: 880px){
    section{
        flex-wrap: wrap;
    }
}