.hero {
    min-height: 100vh;
    background: url("img/hero8.jpg") center/100% 100% no-repeat;
    display: flex;
    padding: 30px;
    position: relative;
    z-index: 0;
}

.hero .see-through {
    mix-blend-mode: multiply;
    background-color: #2e5a4c;
    flex-grow: 1;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.see-through .logo-transparent {
    width: min(650px, 90%);
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
}

.hero .bowl {
    position: absolute;
    aspect-ratio: 1;
    object-fit: contain;
    width: 400px;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
}

.landing {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    gap: 10%;
    margin-bottom: 50px;
}

.landing>* {
    flex-basis: 40%;
    flex-shrink: 0;
    flex-grow: 0;
}

.landing .image-container {
    flex-basis: 30%;
}

.landing img {
    max-width: 100%;
    transition: transform 0.3s ease-in, box-shadow 0.5s ease-in;
    transform-origin: left bottom;
    will-change: transform;
    border-radius: 15px;
}

.landing h1 {
    font-family: "Lobster", cursive;
    color: var(--ascent);
    font-size: 88px;
}

.landing p {
    font-size: 19px;
    line-height: 1.4;
    margin: 30px 0 35px;
}

.landing p a {
    text-decoration: underline;
    color: black;
}

.landing .explore-button {
    background-color: var(--tertiary);
    padding: 11px 16px;
    border-radius: 8px;
    font-size: 19px;
    color: var(--primary);
}

.letters {
    display: inline-block;
}



.features {
    margin-bottom: 50px;
}

.features h1 {
    padding: 40px 0;
    text-align: center;
    font-family: "Lobster", cursive;
    font-size: 60px;
    color: var(--ascent);
}

.feature-block {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 0;
    flex-wrap: wrap;
}

.feature-card {
    width: 250px;
    padding: 15px;
}

.feature-card:nth-child(1) {
    --url: url("img/card_fresh.png");
}

.feature-card:nth-child(2) {
    --url: url("img/card_healthy.png");
}

.feature-card:nth-child(3) {
    --url: url("img/card_hygienic.png");
}

.feature-card:nth-child(4) {
    --url: url("img/card_smell.png");
}

.feature-img {
    width: 65%;
    margin: 0 auto;
    aspect-ratio: 1;
    background: var(--url) no-repeat center/60% 60%, linear-gradient(var(--secondary), var(--secondary));
    border-radius: 15px;
}

.feature-card h2 {
    color: var(--tertiary);
    margin: 15px 0;
    font-size: 24px;
    text-align: center;
}

.feature-card p {
    color: rgb(31, 31, 31);
    text-align: center;

}

.recipes {
    background-color: var(--secondary);
    padding: 50px 20px;
}

.recipes h2 {
    color: rgb(0 0 0 / 50%);
    font-family: "Lobster", cursive;
    font-size: 45px;
    margin-bottom: 18px;
    text-align: center;
}

.recipes h2 span {
    color: var(--ascent);
}

.recipes p {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0 0 0/ 50%);
    text-align: center;
}

.recipes a {
    color: var(--ascent);
    text-decoration: underline;
}

.whatsapp{
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: block;
}

.whatsapp img{
    filter: drop-shadow(0 0 2px var(--semi-trans));
}

@media(min-width: 950px) {
    .image-container:hover img {
        transform: rotateZ(-3deg);
        box-shadow: 0 0 17px -4px rgb(0 0 0 / 35%);
    }
}

@media(max-width: 750px) {
    .landing {
        position: relative;
    }

    .landing>* {
        position: absolute;
        inset: 0;
    }

    .landing .image-container {
        background: url("img/landing-sprouts2.jpg") center/cover;
    }

    .landing-text {
        background-color: rgba(246, 251, 244, 0.7);
        align-items: center;
    }

}

@media(min-width: 750px) and (max-width: 1150px) {
    .see-through .logo-transparent {
        width: calc(min(650px, 90%) * 0.7);
    }

    .hero .bowl {
        width: 300px;
        margin: 50px 0 0 50px;
    }
}

@media (max-width: 990px) {
    .landing {
        gap: 0;
        padding: 0;
        align-items: stretch;
    }

    .landing>* {
        flex-basis: 50% !important;
    }

    .landing img {
        display: none;
    }

    .landing .image-container {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/landing-sprouts2.jpg") center/cover;
    }

    .landing-text {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

@media (max-width: 625px) {
    .feature-card {
        width: min(350px, 90%);
    }
}

@media (min-width: 910px) {
    .feature-card:nth-of-type(2n) {
        margin-top: 50px;
    }
}

@media (max-width: 500px) {
    .landing-text p {
        text-align: center;
    }

    .landing-text {
        align-items: center;
        padding: 30px 20px;
    }
}